streamlit==1.34.0
pymupdf==1.24.4
chromadb==0.5.11
sentence-transformers==2.7.0
transformers==4.41.2
torch==2.2.2
langchain==0.2.1
langchain-community==0.2.1
langchain-text-splitters==0.2.0
numpy==1.26.4
pillow
regex
pyyaml
python-dotenv
tqdm
scikit-learn
